form.input-group-sm.text-center
   .row
      .col-sm-6
         label(for="from-select-filter").text-info From:
         select.form-control#from-select-filter
            option Sofia
            option Burgas
            option Varna
            option Plovdiv
            option Ruse
      .col-sm-6
         label(for="to-select-filter").text-info To:
         select.form-control#to-select-filter
            option Sofia
            option Burgas
            option Varna
            option Plovdiv
            option Ruse
   .row
      .col-sm-2
      .col-sm-8
         label(for="filteredDriver").text-info Search by driver username: (Optional)
         input(type="text")#filteredDriver.input-sm
      .col-sm-2

   button.btn-info.btn-block Search
button#btn-cancel-filter.btn.btn-danger.btn-block Reset fields