.container#loginctnr
    h2.text-center Sign In
    form.form-signin#signin
        label(for="inputUsername").sr-only Username
        input(type="text" placeholder="Username" required autofocus)#inputUsername.form-control
        label(for="inputPassword").sr-only Password
        input(type="password" placeholder="Password" required)#inputPassword.form-control
        button.btn.btn-primary#btnlgn Sign In
    button.btn.btn-info.center-block#btnrgstr Register

