.container
    .blog-main Sharing is caring - Share a travel!
    .panel
        .panel-title Find other people to travel with!
        br
        .panel-body
            p.text-primary Title: Ai hoim na more we, imame golem bagajnik i klimatiche. Ne kazvam che sym na gaz... ama sym na gaz!
            p.text-muted Author: SelyandurPeshev
            p.text-muted Mobile: 088 8888888
            .row
                .col-md-3 From: Sofia
                .col-md-3 To: Burgas
                .col-md-4 When: Fri 28/9/2015
                .col-md-1 Seats: 2
                .col-md-1 Price: 25