.container
    .blog-main Sharing is caring - Share a travel!
    .panel
        .panel-title Find other people to travel with!
        br
        .panel-body
            p.text-primary Title:
            p.text-muted Author:
            p.text-muted Mobile:
            .row
                .col-md-3 From:
                .col-md-3 To:
                .col-md-4 When:
                .col-md-1 Seats:
                .col-md-1 Price: