.container#signupctnr
    h2.text-center Sign Up
    form.form-signin#signup
        label(for="registerFName").left First Name
        input(type="text" placeholder="First Name" required autofocus)#registerFName.form-control
        label(for="registerLName") Last Name
        input(type="text" placeholder="Last Name" required)#registerLName.form-control
        label(for="registerEmail") Email Address
        input(type="text" placeholder="Email Address" required)#registerEmail.form-control
        label(for="registerUsername") Username
        input(type="text" placeholder="Username" required)#registerUsername.form-control
        label(for="registerPassword") Password
        input(type="password" placeholder="Password" required)#registerPassword.form-control
        button.btn.btn-primary#btnsgnup Sign Up
    button.btn.btn-info.center-block#btnsgnin Sign In