html
    head
        meta(charset="utf-8")
        title Sharing is Caring - The travel sharing App
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="node_modules/toastr/build/toastr.css")
        link(rel="stylesheet" href="css/styles.css")
        script(type="text/javascript" src="bower_components/system.js/dist/system.js")
        script(type="text/javascript" src="scripts/Systemjs-configuration.js")
        script(type="text/javascript" src="bower_components/jquery/dist/jquery.js")
        script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript" src="bower_components/parse-1.5.0/index.js")
        script(type="text/javascript" src="node_modules/toastr/toastr.js")
        script(type="text/javascript" src="node_modules/handlebars/dist/handlebars.js")

    body

        div#header
            div.blog-masthead
                div.container
                     nav.blog-nav
                        div.row
                            div.col-md-10
                                a(href="#posts").blog-nav-item.active#posts Posts
                                a(href="#makepost").blog-nav-item#makepost Create Post
                                a(href="#user").blog-nav-item#user Your Posts
                            div.col-md-2
                                a(href="#userProfile").blog-nav-item#userProfile

        div#mainWindow

            #filter.container
                    #filterBtnContainer.row.hidden
                            button#filterBtn.btn-lg.btn-primary Filter by your choise!
                    #filterMenuContainer.row.col-md-6.centered.hidden
                        .row
                            .col-sm-2
                            .col-sm-4
                                label(for="fromslct").text-info From:
                                select.form-control#fromslct
                                    option Sofia
                                    option Burgas
                                    option Varna
                                    option Plovdiv
                                    option Ruse
                            .col-sm-4
                                label(for="toslct").text-info To:
                                select.form-control#toslct
                                    option Sofia
                                    option Burgas
                                    option Varna
                                    option Plovdiv
                                    option Ruse
                            .col-sm-2
                        p
                        .row
                            .col-md-2
                            .col-md-3
                                button#searchFilterBtn.btn.btn-success Search
                            .col-md-2
                            .col-md-3
                                button#cancelFilterBtn.btn.btn-danger Cancel
                            .col-md-2

            div#mainContent

        script(type="text/handlebars-template")#post-template
            .container
                h3.blog-main Sharing is caring - Share a trip!
                .panel
                    h2.panel-title Find other people to travel with!
                    | {{#each posts}}
                    .panel-body
                        p.hidden.postid {{this.id}}
                        p.panel-title {{this.attributes.title}}
                        p.text-muted Author: {{this.attributes.author}}
                        p.text-muted Mobile: {{this.attributes.contact}}
                        .row
                            .col-md-2
                                p.text-muted From: {{this.attributes.from}}
                            .col-md-2
                                p.text-muted To: {{this.attributes.to}}
                            .col-md-4
                                p.text-muted When: {{this.attributes.day}}
                            .col-md-2
                                p.text-muted Seats: {{this.attributes.seats}}
                            .col-md-2
                                p.text-muted Price: {{this.attributes.price}}
                        button.btn.btn-primary.btn-sm.pull-right.btn-reserve-seat Get a seat!
                    | {{/each}}

        script(type="text/handlebars-template")#user-post-template
            .container
                .panel
                    h2.panel-title {{type}}
                    | {{#each posts}}
                    .panel-body
                        p.hidden.postid {{this.id}}
                        p.panel-title {{this.attributes.title}}
                        .row
                            .col-md-2
                                p.text-muted From: {{this.attributes.from}}
                            .col-md-2
                                p.text-muted To: {{this.attributes.to}}
                            .col-md-4
                                p.text-muted When: {{this.attributes.day}}
                            .col-md-2
                                p.text-muted Seats: {{this.attributes.seats}}
                            .col-md-2
                                p.text-muted Price: {{this.attributes.price}}
                        .p.text-muted Users:
                            | {{#each this.attributes.usersTraveling}}
                            span.text-info  {{this}} |
                            | {{/each}}

                    | {{/each}}

        div#footer
            footer.footer.clearfix
                .container
                    p.text-muted.text-center This is the page's sticky footer - Pending an update - file layout.jade
                    p.text-info.text-center Powered by Bootstrap
                    a(href="#").btn-success#btnsgnout Log Out



