html
    head
        meta(charset="utf-8")
        title Sharing is Caring - The travel sharing App
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="node_modules/toastr/build/toastr.css")
        link(rel="stylesheet" href="css/styles.css")
        script(type="text/javascript" src="bower_components/system.js/dist/system.js")
        script(type="text/javascript" src="scripts/systemjs-configuration.js")
        script(type="text/javascript" src="bower_components/jquery/dist/jquery.js")
        script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript" src="bower_components/parse-1.5.0/index.js")
        script(type="text/javascript" src="node_modules/toastr/toastr.js")
        script(type="text/javascript" src="node_modules/handlebars/dist/handlebars.js")

    body
        div#fb-root
        script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.4";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'))

        div#header
            div.blog-masthead
                div.container
                     nav.blog-nav
                        .container
                            .pull-left
                                a(href="#posts").blog-nav-item.active#posts Posts
                                a(href="#makepost").blog-nav-item#makepost Create Post
                            .pull-right#user-nav
                                a(href="#user").blog-nav-item#userProfile
                                a(href="#").btn.btn-info.btn-sm#btnsgnout
                                    span.glyphicon.glyphicon-log-out


        div#mainWindow
            div#mainContent

        script(type="text/handlebars-template")#post-template
            .container
                .panel
                    button#showAllPostsBtn.btn-sm.btn-primary.centered Fetch all posts
                    | {{#each posts}}
                    p
                    .panel-body
                        p.hidden.postid {{this.id}}
                        p.panel-title.bg-info {{this.attributes.title}}
                        p Author:
                            span.text-info {{this.attributes.author}}
                        p Mobile:
                            span.text-info {{this.attributes.contact}}
                        .row
                            .col-md-2
                                p From:
                                    span.text-primary {{this.attributes.from}}
                            .col-md-2
                                p To:
                                    span.text-primary {{this.attributes.to}}
                            .col-md-4
                                p When:
                                    span.text-primary {{this.attributes.day}}
                            .col-md-2
                                p Seats:
                                    span.text-primary {{this.attributes.seats}}
                            .col-md-2
                                p Price:
                                    span.text-primary {{this.attributes.price}}
                        button.btn.btn-primary.btn-sm.pull-right.btn-reserve-seat Get a seat!
                    | {{/each}}

        script(type="text/handlebars-template")#user-post-template
            .container
                .panel
                    h2.panel-title.bg-success {{type}}
                    | {{#each posts}}
                    .panel-body
                        p.hidden.postid {{this.id}}
                        p.panel-title.bg-info {{this.attributes.title}}
                        .row
                            .col-md-2
                                p From:
                                    span.text-primary {{this.attributes.from}}
                            .col-md-2
                                p To:
                                    span.text-primary {{this.attributes.to}}
                            .col-md-4
                                p When:
                                    span.text-primary {{this.attributes.day}}
                            .col-md-2
                                p Seats:
                                    span.text-primary {{this.attributes.seats}}
                            .col-md-2
                                p Price:
                                    span.text-primary {{this.attributes.price}}
                        .p.text-muted Users:
                            | {{#each this.attributes.usersTraveling}}
                            span.text-info  {{this}} |
                            | {{/each}}
                    | {{/each}}

        div#footer
            footer.footer.clearfix
                .container
                    p.text-muted.text-center This is the page's sticky footer - Pending an update - file layout.jade
                    p.text-info.text-center Powered by Bootstrap
                    div.fb-like(data-href="http://telerikacademy.com/" data-width="30" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true")


