html
    head
        meta(charset="utf-8")
        title Sharing is Caring - The travel sharing App
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="css/bootstrap-yeti.css")
        link(rel="stylesheet" href="node_modules/toastr/build/toastr.css")
        link(rel="stylesheet" href="css/styles.css")
        script(type="text/javascript" src="bower_components/system.js/dist/system.js")
        script(type="text/javascript" src="scripts/systemjs-configuration.js")
        script(type="text/javascript" src="bower_components/jquery/dist/jquery.js")
        script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript" src="bower_components/parse-1.5.0/index.js")
        script(type="text/javascript" src="node_modules/toastr/toastr.js")
        script(type="text/javascript" src="node_modules/handlebars/dist/handlebars.js")

    body
        div#fb-root
        script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.4";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'))

        div#header
            nav(role='navigation').navbar.navbar-inverse.navbar-fixed-top
                div.navbar-header
                    a(href='#/posts').navbar-brand Sharing is Caring
                div
                    ul.nav.navbar-nav
                        li.active
                            a(href='#/posts') Posts
                        li
                            a(href='#/makepost') Offer a trip
                div.pull-right#user-nav
                    p.navbar-text Welcome,
                        a(href="#/user").blog-nav-item#userProfile
                        a(href="#/").btn.btn-info.btn-sm#btnsgnout
                            span.glyphicon.glyphicon-log-out

        div#mainWindow
            div#mainContent

        script(type="text/handlebars-template")#post-template
            .container
                .panel
                    button#showAllPostsBtn.btn-sm.btn-primary.centered Fetch all posts
                    | {{#each posts}}
                    p
                    .panel-body
                        p.hidden.postid {{this.id}}
                        p.panel-title {{this.attributes.title}}
                        p Author:
                            span.white {{this.attributes.author}}
                        p Mobile:
                            span.white {{this.attributes.contact}}
                        .row
                            .col-md-2
                                p From:
                                    span.white {{this.attributes.from}}
                            .col-md-2
                                p To:
                                    span.white {{this.attributes.to}}
                            .col-md-4
                                p When:
                                    span.white {{this.attributes.day}}
                            .col-md-2
                                p Seats:
                                    span.white.label-success {{this.attributes.seats}}
                            .col-md-2
                                p Price:
                                    span.white {{this.attributes.price}}
                        button.btn.btn-primary.btn-sm.pull-right.btn-reserve-seat Get a seat!
                    | {{/each}}

        script(type="text/handlebars-template")#user-post-template
            .container
                .panel
                    h2.panel-title.bg-success {{type}}
                    | {{#each posts}}
                    .panel-body
                        p.hidden.postid {{this.id}}
                        p.panel-title {{this.attributes.title}}
                        .row
                            .col-md-2
                                p From:
                                    span.white {{this.attributes.from}}
                            .col-md-2
                                p To:
                                    span.white {{this.attributes.to}}
                            .col-md-4
                                p When:
                                    span.white {{this.attributes.day}}
                            .col-md-2
                                p Seats:
                                    span.white.label-success {{this.attributes.seats}}
                            .col-md-2
                                p Price:
                                    span.white {{this.attributes.price}}
                        p Users:
                            | {{#each this.attributes.usersTraveling}}
                            span.text-danger  {{this}} |
                            | {{/each}}
                    | {{/each}}

        div#footer
            footer.footer.clearfix
                .container
                    p.text-center.white Created by team Ramos Fizz @Telerik Academy 2015-2016
                    p.text-center.white Powered by Bootstrap, jQuery, Parse JS SDK
                    div.fb-like(data-href="https://cdn.rawgit.com/Pip3r4o/JS-Applications-Team-RamosFizz/master/index.html" data-width="30" data-layout="box_count" data-action="like" data-share="true" data-show-faces="true")


